# Dependencies
node_modules/

# Build output
www/

# iOS
ios/App/Pods/
ios/App/App/public/
*.xcworkspace

# macOS
.DS_Store

# Editor
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
